/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}






body {
  font-family: Arial, sans-serif;
  margin: 00%;

  background-color: rgba(16, 16, 15, 0.963);

  background-size: auto;
}



* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: rgb(13, 13, 13) ;
    font-family: Lato, Helvetica, Arial, sans-serif;
  }
  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  
  
  .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } @media(max-width: 768px) {
      .logo {
  /*       margin-left: 5px; */
      }
    }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  
  
  
  /*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
  @media(max-width: 640px) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
  .overlay-menu {
    background: lightblue;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  html, body {
      width: 100%;
      height: 100%;
    }
    
    .container {
      padding: 75px 0;
      margin: 0 auto;
      width: 1140px;
    }
    
    h1 {
      position: relative;
      margin-bottom: 45px;
      font-family: "Oswald", sans-serif;
      font-size: 44px;
      text-transform: uppercase;
      color: #d61919;
      text-align: center;
    }
    
    .Images-wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 70vh;
    }
    
    .photo {
      flex: 1;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      transition: flex 0.8s ease;
      filter: blur(1px);
      border-radius: 25px;
    }
    
    .photo:hover {
      flex: 7;
      filter: blur(0px);
    }
    
  /*===============================
          राम-राम-सा 
  =========================*/
  
    .photo-1 {
      background-image: url("wp11386425-scorpio-n-wallpapers.jpg");
    }
    
    .photo-2 {
      background-image: url("wp11386446-scorpio-n-wallpapers.jpg");
    }
    
    .photo-3 {
      background-image: url("278af6fe-405f-443f-af62-048750cfe7ae.jpeg");
    }
    
    .photo-4 {
      background-image: url("SC.webp");
   
    }
    
    .photo-5 {
      background-image: url("wp11386504-scorpio-n-wallpapers.jpg");
    }
  
  
  
    <br>
    .photo-01 {
      background-image: url("scorpio-classic-exterior-right-rear-three-quarter.webp");
    }
    
    .photo-02 {
      background-image: url("scorpio-classic-exterior-closed-boot-trunk.webp");
    }
    
    .photo-03 {
      background-image: url("scorpio-classic-exterior-front-view-4.webp");
    }
    
    .photo-04 {
      background-image: url("scorpio-classic-exterior-left-side-view-2.webp");
   
    }
    
    .photo-05 {
      background-image: url("scorpio-classic-exterior-left-rear-three-quarter.webp");
    }
  
      
  
  
    .photo-001 {
      background-image: url("front-left-side-47.webp");
    }
    
    .photo-002 {
      background-image: url("7001.webp");
    }
    
    .photo-003 {
      background-image: url("702.webp");
    }
    
    .photo-004 {
      background-image: url("8665551.jpg");
   
    }
    
    .photo-005 {
      background-image: url("mahindra_xuv_700_track.jpg");
    }
  
  
  
    <br>
    .photo-00001 {
      background-image: url("scorpio-classic-exterior-right-rear-three-quarter.webp");
    }
    
    .photo-00002 {
      background-image: url("scorpio-classic-exterior-closed-boot-trunk.webp");
    }
    
    .photo-00003 {
      background-image: url("scorpio-classic-exterior-front-view-4.webp");
    }
    
    .photo-00004 {
      background-image: url("scorpio-classic-exterior-left-side-view-2.webp");
   
    }
    
    .photo-00005 {
      background-image: url("scorpio-classic-exterior-left-rear-three-quarter.webp");
    }
  
      
  
  
    .photo-0001 {
      background-image: url("th4.jpg");
    }
    
    .photo-0002 {
      background-image: url("th6.webp");
    }
    
    .photo-0003 {
      background-image: url("red-thar-4k-.jpg");
    }
    
    .photo-0004 {
      background-image: url("back thar.jpg");
   
    }
    
    .photo-0005 {
      background-image: url("thar wate3r.avif");
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        .news-card {
          width: 30%;
          background-color: #030303b4;
          box-shadow: 0 4px 8px rgba(241, 19, 19, 0.945);
          transition: transform 0.1s ease-in-out;
          margin: 1%;
          overflow: hidden;
        }
  
        .news-card img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
  
        .news-card-content {
          padding: 20px;
          
        }
  
        .news-card:hover {
          transform: scale(1.05);
        }
  
        h2 {
          margin-top: 25px;
          margin-bottom: 25px;
          color: #be0f0f;
        }
  
        p {
          margin: 0;
          color: #de0b0b;
        }
        //heading
        
  
  //.news-carddiv.gallery {
    border: 1px solid #f6eded;
  }
  
  div.gallery:hover {
    border: 1px solid #f01111;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .box-s{
    width="33%";
    height="55%";
  }'
  
  
  
  
  
  
  
  
  
  
  p {
      margin: 0;
  }
  
  
  
        #lab_social_icon_footer {
    padding: 40px 0;
    background-color: #080808;
  }
  
  #lab_social_icon_footer a {
    color: #ef0909;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #1098ed;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #e0eb0f;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }
  .p{
    text-align: center;
  
  }
  
